# Название приложения
APP_NAME='vBios billing'

# Telegram Login Widget - имя бота (без @)
TELEGRAM_BOT_NAME=mrzbill_bot 
TELEGRAM_BOT_AUTH_ENABLE=true

# Telegram WebApp авторизация - кнопка "Войти через Telegram"
TELEGRAM_WEBAPP_AUTH_ENABLE=true
TELEGRAM_WEBAPP_PROFILE=''

# Ссылка на поддержку
SUPPORT_LINK='https://t.me/idsmef'
