<form name="userForm" class="form-horizontal">

    <!-- HEADER -->
    <div class="modal-header bg-primary text-white d-flex align-items-center justify-content-between">
        <h4 class="modal-title mb-0">
            <i class="fa fa-qrcode"></i> {{ title }}
        </h4>
        </div>
    
    <!-- BODY -->
    <div class="modal-body text-center">

        <div class="qr-wrapper mx-auto mb-3">
            <div id="qrcode"></div>
        </div>

        <p class="text-muted small">
            Отсканируйте QR-код в приложении
        </p>

        <p class="small text-muted">
            (v2rayNG, Nekobox, Shadowrocket, Hiddify и др.)
        </p>

    </div>

    <!-- FOOTER -->
    <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-secondary" ng-click="closeQrModal()">
            <i class="btn btn-warning me-2"></i> Закрыть
        </button>
    </div>

</form>
